<%= form_with(model: insititution) do |form| %>
  <% if insititution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(insititution.errors.count, "error") %> prohibited this insititution from being saved:</h2>

      <ul>
        <% insititution.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
