<%= form_with(model: test_covid) do |form| %>
  <% if test_covid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_covid.errors.count, "error") %> prohibited this test_covid from being saved:</h2>

      <ul>
        <% test_covid.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_did %>
    <%= form.date_select :date_did %>
  </div>

  <div class="field">
    <%= form.label :date_get_result %>
    <%= form.date_select :date_get_result %>
  </div>

  <div class="field">
    <%= form.label :had_symptoms %>
    <%= form.check_box :had_symptoms %>
  </div>

  <div class="field">
    <%= form.label :type_test %>
    <%= form.text_field :type_test %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.check_box :result %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
