<%= form_with(model: area) do |form| %>
  <% if area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
        <% area.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :qrcode %>
    <%= form.text_field :qrcode %>
  </div>

  <div class="field">
    <%= form.label :institution_id %>
    <%= form.text_field :institution_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
