<% @areas.each do |area| %>
  <tr>
    <td><%= area.description %></td>
    <td><%= area.institution.description %></td>
    <td><img src="data:image/png;base64, <%= area.qrcode %>" alt="Red dot" /></td>

    <td><%= link_to edit_area_path(area), remote: true do %>
      <i class="far fa-edit"></i>
      <span>Edit</span>
    <% end %> 
    <%= link_to area, method: :delete, data: 
    { confirm: 'Are you sure?' } do %>
        <i class="fas fa-user-times"></i>
      <span>Delete</span>
    <% end %>
    </td>
  </tr>
<% end %>