<div class="modal-dialog">
<%  if request.path.include?('edit') then text = 'Edit User' else text = 'Create a new user' end %>
<%= simple_form_for(@user, :url => admin_user_path(@user)) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= text %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
      </div>
      <div class="modal-body">
          <div class="form-inputs form-group">
            <%= f.input :name, input_html: { class: "form-control " } %>
          </div>
          <div class="form-inputs form-group">
            <%= f.input :lasname, input_html: { class: "form-control " } %>
          </div>
          <div class="form-inputs form-group">
            <%= f.input :email, input_html: { class: "form-control " } %>
          </div>
          <div class="form-inputs form-group">
            <label for="admin"> change rol: </label>
            <input type="radio" id="admin" name="admin">
          </div>
          <div class="form-inputs form-group">
            <%= f.input :institution_id, input_html: { class: "form-group " } do %>
              <%= f.select :institution_id, Institution.all.map { |r| [r.description, r.id] }, {}, {class: 'form-control'} %> 
            <% end %>
          </div>
          <div class="form-inputs form-group">
            <%= f.input :area_id, input_html: { class: "form-group " } do %> 
              <%= f.select :area_id, Area.all.map { |r| [r.description, r.id] }, {}, {class: 'form-control'} %> 
            <% end %>
          </div>
          <div class="form-inputs form-group">
            <%= f.input :password, input_html: { class: "form-control " } %>
          </div>
          <div class="form-inputs form-group">
            <%= f.input :password_confirmation, input_html: { class: "form-control " } %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Save User", :class => 'btn btn-primary create-button' %>
      </div>
    </div>
    <% end %>
  </div>