<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.lasname %></td>
    <td><%= user.email %></td>
    <td><%= user.control_number %></td>
    <td><%= user.institution.description%></td>
    <td><%= user.area.description%></td>
    <% user.roles.each do |rol| %>
      <td><%= rol.name if rol.name? %>
    <% end %>

    <td>
      <div class="btn btn-primary"> 
        <i class="fas fa-edit"></i><%= link_to 'Edit', edit_admin_user_path(user), remote: true, style: 'color:#FFFFFF;' %>
      </div>
      &nbsp 
      <div class="btn btn-primary"> 
        <i class="fas fa-user-times"></i> <%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, style: 'color:#FFFFFF;' %>
      </div>
    </td>
  </tr>
<% end %>

