<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="card-tools">
          <i class="far fa-edit"></i><%= link_to 'New', new_admin_user_path, remote: true %>
          <a id="new-user-btn" class="btn btn-success create-button" data-remote="true" href="/users/sign_up" data-toggle="modal" data-target="#user-modal">New user</a>
        </div>
        <div class="card-tools1">
          <div class="input-group input-group-sm" style="width: 150px;">
            <%= form_tag(admin_users_search_path, method: "post", remote: true, authenticity_token: true, role: "form",class: "form") do %>
              <%= text_field_tag('search', nil, placeholder: 'Search users...', class: 'form-control float-left') %>
              <div class="input-group-append">
                <%= submit_tag("Search", class:"btn btn-default") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!--considerar esta parte-->
      <div class="modal fade" id="user-modal">                
      
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>Email</th>
              <th>Name</th>
              <th>Email</th>
              <th>control_number</th>
            </tr>
          </thead>
          <tbody id="users-table-body">
            <%= render 'search', remote: true%>
          </tbody>
        </table>
      </div>
              <!-- /.card-body -->
      <div class="card-footer">
                
      </div>
    </div>
            <!-- /.card -->
  </div>
</div>