<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Qr code:</strong>
  <%= @place.qr_code %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @place.institution_id %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
