  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/home/index" class="brand-link">
      <%= image_tag("AdminLTELogo.png", alt:"AdminLTE Logo", class:"brand-image img-circle elevation-3",
           style:"opacity: .8") %>
      <span class="brand-text font-weight-light">CovidApp Monitor</span>
    </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <!-- <div class="image">
          <%= image_tag("user2-160x160.jpg", class:"img-circle elevation-2", alt:"User Image") %>
          </div> -->
          <div class="info">
            <a href="#" class="d-block"> <%= current_user.fullname%> </a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            <% if current_user.has_role? :admin  %>
              <li class="nav-item">
                <div class="nav-link">
                  <i class="nav-icon fas fa-user-friends"></i>
                  <%= link_to "Users", admin_users_path%>
                </div>
              </li>
            <%end%>
            <% if current_user.has_role? :normal or current_user.has_role? :admin %>
            <li class="nav-item">
              <div class="nav-link">
                <i class="nav-icon fas fa-hotel"></i>
                <%= link_to "Institutions", institutions_path%>
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link">
                <i class="nav-icon fas fa-sitemap"></i>
                <%= link_to "Areas", areas_path%>
              </div>
            </li>
            <li class="nav-item">
            <div class="nav-link">
              <i class="nav-icon fas fa-map-marker-alt"></i>
              <%= link_to "Places", places_path%>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <i class="nav-icon fas fa-viruses"></i>
              <%= link_to "Symtoms", symptoms_path%>
            </div>
          </li>
          <% end %>
            <li class="nav-item has-treeview menu-close">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book-medical"></i>
              <p>
                Reports
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <div class="nav-link">
                  <i class="fas fa-notes-medical nav-icon"></i>
                  <%= link_to "People reports", reports_user_reports_path%>
                </div>
              </li>
              <li class="nav-item">
                <a href="/reports/area_reports" class="nav-link">
                  <i class="fas fa-map-marker-alt nav-icon"></i>
                  <p>Place reports</p>
                </a>
              </li>
            </ul>
          </li>
            <li class="nav-item">
              <%= link_to  destroy_user_session_path, :method => :delete, class: 'nav-link' do %>
              <i class="nav-icon fas fa-sign-out-alt"></i>
              Close Session
              <% end %>
            </li>
          </ul>
        </nav>
        

        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->

  </aside>
